h1{
      font-style : italic;
      font-size : 70px;
      font-weight : bold;
      color:antiquewhite;
      text-decoration: turquoise underline;
      margin: 10 30px;
      text-align:center;
}
#clock{
    font-style:oblique;
    font-weight:bold;
    text-align:center;
    margin:30px;
    padding:10px;
    font-size:100px;
    color:lime;
}
body{
    background-color:black;
}
